.hero {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 32px;
}

@media (min-widht: 768px){
    .hero {
        flex-direction: row;
    }

}

.hero-left,
.hero-right {
    flex: 1;
}