@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Libertinus+Mono&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arvo", serif;
}
.app {
  min-height: 100vh;
  background-color: #f4f4f4;
}